
.game

	.game__grid
		div(ng-repeat="g in grid track by $index")

	game-player(game="game" spot="left")
	game-player(game="game" spot="right")
	game-ball(game="game")


	.console
		.console__code(ng-if="console")
			pre {{game | json}}
		.console__link
			label
				input(type="checkbox" ng-model="console")
				|  Show console

