doctype html
html(lang="es" ng-app="app")
	head

		title Responsive Pong

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(href="css/main.css" type="text/css" rel="stylesheet")
		script(src="js/main.js" type="text/javascript")

	body(ng-controller="GameCtrl")
		
		game

